@model EntityLayer.Concrete.Portfolio
@{
    ViewData["Title"] = "AddPortfolio";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("AddPortfolio", "Portfolio", FormMethod.Post))
{

    <div class="card-header border-0">
        <h3 class="mb-0">Proje Ekleme Sayfasi</h3>
        <form class="form-group" method="post">
            <br />
            @Html.Label("Proje Basligi")
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
            <br />
            <label>Gorsel 1</label>
            @Html.TextBoxFor(x => x.ImageURL, new { @class = "form-control" })
            <br />
          
            <label>Gorsel 2</label>
            @Html.TextBoxFor(x => x.ImageURL2, new { @class = "form-control" })
            <br />
         
            <label>Proje Url</label>
            @Html.TextBoxFor(x => x.ProjectURL, new { @class = "form-control" })
            <br />
            
            
            <button class="btn btn-success">Kaydet</button>
        </form>

    </div>
}


