@model EntityLayer.Concrete.Experience
@{
    ViewData["Title"] = "AddExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("AddExperience", "Experience", FormMethod.Post))
{
   
    <div class="card-header border-0">
        <h3 class="mb-0">Deneyim Ekleme Sayfasi</h3>
        <form class="form-group" method="post">
            <br />
            @Html.Label("Deneyim Basligi")
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })

            <br />
            <label>Tarih Bilgisi</label>
            @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
            <br />
            <br />
            <label>Resim Yolu</label>
            @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
            <br />
            <br />
            <label>Aciklama</label>
            @Html.TextAreaFor(x => x.Description,10,3, new { @class = "form-control" })
            <br />
            <button class="btn btn-success">Kaydet</button>
        </form>

    </div>
}


